@import "../../style/constants";

.Article {
  &__title {
    color: $gray-800;
    text-decoration: underline;
  }
  &__text {
    color: $gray-700;
  }
  &__section {
    padding-bottom: 1rem;
  }
}