.filter-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 290px;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.filter-form-day-picker {
  &__title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 36px;
    padding: 0 1.5rem;
    font-size: 1.3rem;
  }
  &__btn {
    margin-bottom: 0;
  }
}