@import "constants";

.App {
  padding: 1rem;
}

.button {
  min-width: 120px;
  height: 30px;
  margin-bottom: 1rem;
  padding: 3px 10px;
  border: none;
  border-radius: 2px;
  &--primary {
    color: $white;
    background: $blue;
  }
  &--light {
    color: $gray-800;
    background: $gray-100;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.filter-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 290px;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.filter-form-day-picker {
  &__title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 36px;
    padding: 0 1.5rem;
    font-size: 1.3rem;
  }
  &__btn {
    margin-bottom: 0;
  }
}